body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', sans-serif;
}

main {
    padding-top: 80px; /* Espaço para o header fixo */
}

h1,h2,h3,h4,a,span, ul, li {
    padding: 0;
    margin: 0;
}

ul{ 
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.hero-style {
    width: 100%;
    margin: 80px 0;
    height: 80vh;
    background: url('../assets/hero.png.png');
}
