.header-style {
 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.logo {
    max-width: 230px;
}

.logo img {
    width: 100%;
}


.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    font-size: 1.2rem;
    color:#545454 ;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: .4s ;
    
}

.navbar a:hover {
    background-color: none;
    border: solid 2px  #ff914d;
}


.header-style nav {
    margin-left: 20px;
}